<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signin_styles.css' %}">

    <script src="{% static 'js/nav.js' %}" defer></script>
    <script src="{% static 'js/signin.js' %}" defer></script>

</head>
<body>
    {% include 'base/navbar.html' %}
    <div class="container">
        <div class="login-box">
            <h1>Welcome</h1>
            <p>We are glad to see you back with us</p>

            <form method="post" action="#">
                <input type="text" id ="Username" name = "Username" placeholder="Username" required >
                <input type="password" id = "Password" name="Password"  placeholder="Password" required>
                <button type = "submit">Next</button>
            </form>
            <p class="login-others"><span>Login with Others</span></p>

            <form action="{% url 'signin' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Next</button>
            </form>
            <a class="goto-register" href="{% url 'signup' %}"><p class="login-others"><span>Register here</span></p></a>

            <div class="social-login">
                <button class="google"><img src="{% static 'img/google_logo.png' %}" alt="Google" class="social-icon">Login with Google</button>
                <button class="facebook"><img src="{% static 'img/facebook_logo.png' %}" alt="Facebook" class="social-icon">Login with Facebook</button>
                <!-- <button class="twitter"><img src="{% static 'img/twitter_logo.png' %}" alt="Twitter" class="social-icon">Login with Twitter</button> -->
            </div>
        </div>
    </div>
    <script src="{% static 'js/nav_configuration.js' %}"></script>
    {% include 'home_page/side_arrester.html' %}
</body>
 
</html>