{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">Agratas Infotech Private Limited</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App Development</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Game Development</a></li>
          <li><a href="#">UIUX/Logo design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Opportunities</li>
          <li><a href="#">ID Verification</a></li>
          <li><a href="{% url 'articles' '#' %}">Apply for Jobs</a></li>
          <li><a href="{% url 'articles' '#' %}">Explore Hackathons</a></li>
          <li><a href="#">Our R&D Team</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Specialized</li>
          <li><a href="{% url 'articles' 'artificialintelligence' %}">Artificial Intelligence</a></li>
          <li><a href="#">Machine Learning</a></li>
          <li><a href="{% url 'articles' 'digitalmarketing' %}">Digital Marketing</a></li>
          <li><a href="#">Internet of Things</a></li>
        </ul>
        <ul class="box input-box">
            <form 
            style="
              background: transparent;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0 0 0px transparent;
              width: auto;
              max-width: unset;
              box-sizing: unset;
            "
            class="footer-form" action="{% url 'subscribe' %}" method="post">
              {% csrf_token %}
              <li class="link_name">Subscribe</li>
              <li><input type="email" name="subscribe" placeholder="Enter your email"></li>
              <li><input type="submit"></li>
            </form>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2024 <a href="#">erp.agratasinfotech.com</a>All rights reserved</span>
        <span class="policy_terms">
          <a href="{% url 'r&p' %}">Refund policy</a>
          <a href="{% url 'privacy' %}">Privacy policy</a>
          <a href="{% url 't&c' %}">Terms & Conditions</a>
        </span>
      </div>
    </div>
  </footer>