{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<nav>
  <div class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'img/agratas-main-logo.png' %}" alt="logo" /></a>
  </div>
  <div class="option">
    <ul class="nav-links">
      <li>
        <a href="#"> What we do <span class="arrow fa fa-angle-down"></span></a>
        <ul class="submenu">
          <li id="active">
            <a href="#"
              >Overview
              <span
                class="arrow fa fa-angle-right right-arrow toggle-submenu"
              ></span>
              <span class="tcs-hover">Agratas Infotech Private Limited</span>
              <span class="tcs-hover-details">
                Founded in November 25, 2020. Agratas Infotech is a premier product-based technology <br>
                company headquatered in Ocean Plaza, Sector 18 , Noida. We specialized to develop <br>
                cutting edge software products tailored for Industries such as Healthcare, Finance <br>
                Retails, etc. Our mission is to empower Businesses by enhancing and fostering operational <br>
                efficiency and fostering digital transformation through innovative technology.
                <br>
                <br>
                <strong><u>Our Mission</u></strong>: To empower by delivering innovative technology solutions <br>
                that drive digital transformation and operational excellence. <br>
                <br>
                <strong><u>Our Vision</u></strong>: To be a Global leader in technology innovation, consistantly <br>
                delivering Soultions that exceeds our client's expectations and shape the future.
              </span>
            </a>
          </li>
          <li id="active">
            <a href="#"
              >Industries
              <span
                class="arrow fa fa-angle-right right-arrow toggle-submenu"
              ></span>
            </a>
            <ul class="inner-submenu" id="inner-submenu-one">
              <li>Banking</li>
              <li>Finance</li>
              <li>Digitalization</li>
              <li>Communications, Media, and Information Services</li>
              <li>Education</li>
              <li>Supply Chain Management</li>
              <li>High Tech</li>
              <li>Life Sciences</li>
              <li>Open Sourcing</li>
              <li>Public Services</li>
            </ul>
          </li>
          <li id="active">
            <a href="#"
              >Services
              <span class="arrow fa fa-angle-right" id="right-arrow"></span
            ></a>
            <ul class="inner-submenu" id="inner-submenu-two">
              <a href="{% url 'articles' 'artificialintelligence' %}"><li>Artificial Intelligence</li></a>
              <a href="{% url 'maintenance' %}"><li>Cloud</li></a>
              <a href="{% url 'articles' 'digitalmarketing' %}"><li>Digitalization</li></a>
              <a href="{% url 'maintenance' %}"><li>Cognitive Business Operations</li></a>
              <a href="{% url 'maintenance' %}"><li>Consulting</li></a>
              <a href="{% url 'maintenance' %}"><li>Data and Analytics</li></a>
              <a href="{% url 'maintenance' %}"><li>Enterprise Soultions</li></a>
              <a href="{% url 'maintenance' %}"><li>High Tech</li></a>
              <a href="{% url 'maintenance' %}"><li>Insurance</li></a>
              <a href="{% url 'articles' 'internetofthings' %}"><li>IoT and Digital Engineering</li></a>
              <a href="{% url 'maintenance' %}"><li>Network Soultions and Services</li></a>
            </ul>
          </li>
          <li id="active">
            <a href="#"
              >Product and Platforms
              <span class="arrow fa fa-angle-right" id="right-arrow"></span
            ></a>
            <ul class="inner-submenu" id="inner-submenu-three">
              <li>AIPL ShopApp<sup>TM</sup></li>
              <li>AIPL ERP<sup>TM</sup></li>
              <li>AIPL SploitWeb</li>
              <li>AIPL Hotel Management System<sup>TM</sup></li>
              <li>AIPL Customer Intelligence & Insights<sup>TM</sup></li>
              <li>AIPL ERP on Cloud</li>
              <li>AIPL Restaurant Management System<sup>TM</sup></li>
              <li>AIPL College ERP<sup>TM</sup></li>
              <li>AIPL SMS System<sup>TM</sup></li>
              <li>AIPL Teacher AI<sup>TM</sup></li>
            </ul>
          </li>
          <li id="active">
            <a href="#"
              >Research and Innovations
              <span class="arrow fa fa-angle-right" id="right-arrow"></span
            ></a>
            <ul class="inner-submenu" id="inner-submenu-four">
              <li>AIPL Research</li>
              <li>AIPL R&D Team</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Who are we <span class="arrow fa fa-angle-down"></span></a>
        <ul class="submenu">
          <li id="active"><a href="{% url 'maintenance' %}">Overview</a></li>
          <li><a href="{% url 'maintenance' %}">About Us</a></li>
          <li><a href="{% url 'maintenance' %}">Leadership</a></li>
          <li><a href="{% url 'maintenance' %}">Events</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Education <span class="arrow fa fa-angle-down"></span></a>
        <ul class="submenu">
          <li id="active"><a href="{% url 'internship' %}">Internships</a></li>
          <li><a href="{% url 'AgratAsiaHack24' %}">Hackathons</a></li>          
          <li><a href="{% url 'maintenance' %}">Placement</a></li>
          <li><a href="{% url 'maintenance' %}">Industrial Training</a></li>
          <li><a href="{% url 'maintenance' %}">Tech Summit</a></li>
          <li><a href="{% url 'maintenance' %}">FDP</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Careers <span class="arrow fa fa-angle-down"></span></a>
        <ul class="submenu">
          <li id="active"><a href="#">Overview</a></li>
          <li><a href="{% url 'maintenance' %}">India</a></li>
          <li><a href="{% url 'maintenance' %}">Americas</a></li>
          <li><a href="{% url 'maintenance' %}">Asia Pacific</a></li>
          <li><a href="{% url 'maintenance' %}">Europe and UK</a></li>
          <li><a href="{% url 'maintenance' %}">Middle East and Africa</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Newsroom <span class="arrow fa fa-angle-down"></span></a>
        <ul class="submenu">
          <li id="active"><a href="{% url 'maintenance' %}">Overview</a></li>
          <li><a href="{% url 'maintenance' %}">Press release</a></li>
          <li><a href="{% url 'maintenance' %}">News alerts</a></li>
          <li><a href="{% url 'maintenance' %}">Analyst recognition</a></li>
          <li><a href="{% url 'maintenance' %}">Media kit</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Investors <span class="arrow fa fa-angle-down"></span></a>
        <ul class="submenu">
          <li id="active"><a href="{% url 'maintenance' %}">Overview</a></li>
          <li><a href="{% url 'maintenance' %}">Manage Commentary</a></li>
          <li><a href="{% url 'maintenance' %}">Financials</a></li>
          <li><a href="{% url 'maintenance' %}">News and Events</a></li>
          <li><a href="{% url 'maintenance' %}">ESG</a></li>
          <li><a href="{% url 'maintenance' %}">Resources</a></li>
        </ul>
      </li>
      <li><a href="{% url 'maintenance' %}">Contact us</a></li>
      <li><a href="{% url 'maintenance' %}">AIPL worldwide</a></li>
    </ul>
  </div>
  <div class="searchbar">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="address-bar-container" id="address-bar-container">
    <div class="address-bar">
      <input type="text" class="search-input" placeholder="Search here..." />
      <button class="close-btn" id="close-btn">X</button>
    </div>
  </div>
  <div class="hamburger" id="hamburger">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
</nav>
{% include 'base/alert_msg.html' %}
<script src="{% static 'js/nav.js' %}"></script>
