{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar_sign.css' %}">
    <nav>
        <div class="logo">
            <img src="{% static 'img/agratas-main-logo.png' %}" alt="logo" />
        </div>
        <div class="option" >
            <ul class="nav-links">
                <li>
                    <a href="#">Home</a>
                    
                </li>
                <li>
                    <a href="#">Contact Us</a>
                    
                </li>
                <li>
                    <a href="#">About Us</a>

                </li>
                <li>
                    <a href="#">Get Started</a>

                </li>
            </ul>
        </div>
        <div class="searchbar">
            <img src="{% static 'img/Search-icon.png' %}" alt="Search Icon" />
        </div>
        <div class="address-bar-container" id="address-bar-container">
            <div class="address-bar">
                <input type="text" class="search-input" placeholder="Search here..." />
                <button class="close-btn" id="close-btn">X</button>
            </div>
        </div>
        <div class="Profile_icon">
            <img src="{% static 'img/Profile_icon.png' %}" alt="Profile Icon" />
        </div>
        
        
    </nav>
    <script src="{% static 'js/nav.js' %}"></script>
