<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy - Agratas Infotech Pvt Ltd</title>
{%load static%}1
    <link rel="stylesheet" href="{% static 'css/Terms_and_Conditions.css' %}">
    <style>
        nav{
            left: 0px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Header Section -->
    {% include 'base/navbar.html' %}
    <script src="{% static 'js/nav_configuration.js' %}"></script>
    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <div class="Terms-sidebar">
            <h4 style="font-weight:bold; font-size:smaller;">Terms and Conditions</h4>
            <ul>
                <li><a href="#">Use of Content</a></li>
                <li><a href="#">Acceptable Website Use</a></li>
                <li><a href="#">Liability</a></li>
                <li><a href="#">Disclaimer of Consequential Damages</a></li>
            </ul>
        </div>

        <div class="Terms-content">
            <h1>Terms and Conditions</h1>
            <p>The terms "We," "Us," "Our," or "Company" refer to Agratas Infotech Pvt Ltd, and "Visitor" or "User" refers to consumers of this website.</p>
            <p>This document outlines the conditions under which you, the Visitor, may access and use this website ("Website"). By visiting this site, you agree to be bound by these Terms and Conditions. If you do not agree to these terms, please refrain from using the Website. Company, including any business divisions, subsidiaries, or associated companies, retains the right to update these Terms and Conditions at any time. You should revisit this page periodically as any updates are binding.</p>
            
            <p>This document serves as a legally binding agreement between you and Agratas Infotech Pvt Ltd (both as defined below). By accepting this Privacy Policy, either electronically (e.g., by clicking "I accept") or by using the website, you agree to the terms stated here, which will govern your relationship with Agratas Infotech Pvt Ltd for the use of the website ("Website").</p>
            <p>This policy is published in compliance with the Information Technology Act, 2000, specifically the rules regarding reasonable security practices and the handling of sensitive personal data. It governs how we collect, use, store, and transfer your information.</p>
            <p>By using the Website or providing your information, you agree to the collection, storage, processing, and transfer of both your personal and non-personal data in accordance with this Privacy Policy. You further agree that this will not cause any loss or harm to you or others.</p>

            <h2 id="useof">Use of Content</h2>
            <p>All logos, brands, trademarks, headings, labels, names, and other identifiers seen on this website are the property of the Company or are licensed for use by its associates. Reproduction, distribution, or transmission of the Website content in any form is prohibited without prior written permission from the relevant organization. Modifying, selling, or reproducing the website's content for public or commercial purposes without permission is forbidden.</p>
 
            <h2 id="acceptable">Acceptable Website Use</h2>
            <h4 id="security_rules">(A) Security Rules</h2>
            <p>Visitor must not attempt to compromise the security of the Website, including (but not limited to):</p> 
            <p>Accessing data not intended for the user or trying to gain unauthorized access.</p>
            <p>Probing, scanning, or testing the website's systems or security without authorization.</p>
            <p>Interfering with the service through actions such as introducing viruses, overloading, or flooding the Website.</p>
            <p>Sending unsolicited emails, including advertisements or promotions.</p>
            <p>Any violation may result in legal action, and the Company reserves the right to cooperate with authorities as needed.</p>

            <h4 id="general_rules">(B) General Rules</h2>
            <p>Visitors are not permitted to upload or transmit materials that:</p> 
            <p>Could lead to criminal conduct or violate applicable laws.</p>
            <p>Infringe the rights or property or personal rights of others.</p>
            <p>Are defamatory, obscene, offensive, threatening, or otherwise harmful.</p>
            <p>Users agree to indemnify the Company, its officers, employees, and agents from any claims, liabilities, or expenses arising from their use of the Website or any breach of these Terms and Conditions.</p>

            <h2 id="Liability">Liability</h2>
            <p>The Company stipulates that the Company and its officers, directors, employees, or suppliers shall not be liable for any direct, indirect, incidental, special, or consequential damages arising from the use or inability to use the Website or services. This includes, but is not limited to, losses from data, profit, savings, goodwill, or service interruptions. In no event shall the Company's total liability exceed any amount the User has paid to the Company in connection with the issue in action.</p>

            <h2 id="disclaimer">Disclaimer of Consequential Damages</h2>
            <p>The Company and its associated organizations are not responsible for any damages, including but not limited to lost profits, hardware damage, data loss, or business interruption, that result from the use or inability to use the website. This applies regardless of the legal basis for the claim, and even if the possibility of such damages has been advised.</p>
        </div>
    
    </div>
{% include 'base/footer.html' %}
</body>
</html>
