{% load static %}
<link rel="stylesheet" href="{% static 'css/blog_section.css' %}">
<div class="container">
    <div class="card">
      <div class="card__header">
        <img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Technology</span>
        <h4>What's new in 2024 Tech</h4>
        <p>At our core, we are driven by a commitment to pushing the boundaries of innovation. By integrating breakthrough technologies with operational excellence, we empower businesses to adapt, evolve, and lead in a rapidly digitizing world. Our focus on streamlined systems and superior support ensures that our partners stay ahead of the curve.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="{% static 'img/Agratas/Arun_Kumar.jpeg' %}" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Mr. Arun Kr.</h5>
            <small>Co-Founder</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-brown">Research</span>
        <h4>Research and Data-Driven Insights</h4>
        <p>Research fuels the future of progress. Our team is dedicated to generating insights that not only advance technology but also shape industries. Through cutting-edge methodologies and deep analytical frameworks, we deliver actionable intelligence that allows our clients to stay informed, make strategic decisions, and lead with confidence.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=2" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Dr. Sandeep Singh</h5>
            <small>Founder & CEO</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card__header">
        <img src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-red">AI</span>
        <h4>Race to your heart content</h4>
        <p>Artificial intelligence is more than a tool; it’s a transformative force. At our company, we harness the latest in AI advancements to optimize operations, foster smarter decision-making, and drive innovation across industries. From machine learning to predictive analytics, we enable businesses to unlock new potentials and operate at unprecedented levels of efficiency.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Mr. Prashant Dwivedi</h5>
            <small>Director</small>
          </div>
        </div>
      </div>
    </div>
</div>
