{% load static %}
<link rel="stylesheet" href="{% static 'css/blog_section.css' %}">
<div class="container">
    <div class="card">
      <div class="card__header">
        <img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Technology</span>
        <h4>What's new in 2022 Tech</h4>
        <p>Our company delivers cutting-edge technology solutions, enhancing services with innovative tools, efficient systems, and robust support. We streamline operations, boost productivity, and ensure seamless integration, empowering businesses to thrive in a digital world.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Mr. Arun Kr.</h5>
            <small>Co-Founder</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-brown">Research</span>
        <h4>Research and Data-Driven Insights</h4>
        <p>Our company excels in delivering top-tier research, driving innovation through cutting-edge methodologies, comprehensive data analysis, and expert insights. We empower clients with actionable intelligence, fostering informed decision-making and advancing industry standards in technology and services.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=2" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Dr. Sandeep Singh</h5>
            <small>Founder & CEO</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card__header">
        <img src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-red">AI</span>
        <h4>Race to your heart content</h4>
        <p>Leading in artificial intelligence innovation, our company leverages advanced algorithms, machine learning, and deep learning techniques. We deliver intelligent solutions that automate processes, enhance decision-making, and drive efficiency, transforming industries and unlocking new potential.</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Mr. Prashant Dwivedi</h5>
            <small>Director</small>
          </div>
        </div>
      </div>
    </div>
</div>
