{% load static %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
<div class="parent-container">
    <!-- BEGIN ACCORDION SECTION -->
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-menu">What services does Agratas Infotech® provide? 
                <div class="accordion-plus">+</div>
            </div>
            <div class="accordion-content">
                <div class="accordion-inner-content">
                    <p>We offer a comprehensive range of design services, including branding, UI/UX design, and development. Our skilled team of designers and developers collaborate to create cohesive and impactful solutions tailored to your unique needs and goals.</p>
                </div>
            </div>
        </div> <!-- END ACCORDION SECTION -->
        <!-- BEGIN ACCORDION SECTION -->
        <div class="accordion">
            <div class="accordion-group">
                <div class="accordion-menu">How long does a typical project take? 
                    <div class="accordion-plus">+</div>
                </div>
                <div class="accordion-content">
                    <div class="accordion-inner-content">
                        <p>The timeline for each project depends on its complexity and scope. Once we've discussed your project requirements and objectives, we'll provide you with a detailed timeline and keep you updated throughout the process. We strive to deliver high-quality work within the agreed-upon timeframe.</p>
                    </div>
                </div>
            </div> <!-- END ACCORDION SECTION -->
            <!-- BEGIN ACCORDION SECTION -->
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-menu">How much does it cost to work with Agratas Infotech®?  
                        <div class="accordion-plus">+</div>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-inner-content">
                            <p>We understand that every project is unique, so we provide customized quotes based on your specific needs and goals. Generally, we operate on an hourly basis with a rate of $65 per hour. We typically work on projects with a minimum budget of $1,000. To get a better understanding of your project's cost, please reach out to us and provide some details about your requirements. We'll be happy to provide you with a tailored quote that aligns with your project's scope and objectives.</p>
                         </div>
                    </div>
                </div> <!-- END ACCORDION SECTION -->
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-menu">Can I see examples of your previous work? 
                        <div class="accordion-plus">+</div>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-inner-content">
                            <p>Absolutely! We're proud of the work we've done with our clients and would be happy to share our portfolio with you. Please visit our Case Studies section to explore some of our success stories and get a better sense of our design capabilities.</p>
                            <h2>Example:</h2>
                            <ul>
                                <li>Working For Universities
                                    <ul>
                                        <li>Developed ERP of Sharda University</li>
                                        <li>Developed Website of Benette University</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- END ACCORDION SECTION -->
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/faq.js' %}"></script>