<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agratas Infotech</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
</head>
<body>
    
    {% include 'navbar.html' %}
    <div class="hero">
        <video playsinline autoplay muted loop>
            <source src="https://videos.pexels.com/video-files/18069473/18069473-hd_1080_1920_24fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h2>AIPL Welcomes You</h2>
    </div>

    <div class="container">
        <div class="card">
          <div class="card__header">
            <img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
            <p>Our company delivers cutting-edge technology solutions, enhancing services with innovative tools, efficient systems, and robust support. We streamline operations, boost productivity, and ensure seamless integration, empowering businesses to thrive in a digital world.</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>Mr. Arun Kr.</h5>
                <small>Co-Founder</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <img src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-brown">Research</span>
            <h4>Research and Data-Driven Insights</h4>
            <p>Our company excels in delivering top-tier research, driving innovation through cutting-edge methodologies, comprehensive data analysis, and expert insights. We empower clients with actionable intelligence, fostering informed decision-making and advancing industry standards in technology and services.</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=2" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>Dr. Sandeep Singh</h5>
                <small>Founder & CEO</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card__header">
            <img src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-red">AI</span>
            <h4>Race to your heart content</h4>
            <p>Leading in artificial intelligence innovation, our company leverages advanced algorithms, machine learning, and deep learning techniques. We deliver intelligent solutions that automate processes, enhance decision-making, and drive efficiency, transforming industries and unlocking new potential.</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>Mr. Prashant Dwivedi</h5>
                <small>Director</small>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="parent-container">
        <!-- BEGIN ACCORDION SECTION -->
        <div class="accordion">
            <div class="accordion-group">
                <div class="accordion-menu">What services does Agratas Infotech® provide? 
                    <div class="accordion-plus">+</div>
                </div>
                <div class="accordion-content">
                    <div class="accordion-inner-content">
                        <p>We offer a comprehensive range of design services, including branding, UI/UX design, and development. Our skilled team of designers and developers collaborate to create cohesive and impactful solutions tailored to your unique needs and goals.</p>
                    </div>
                </div>
            </div> <!-- END ACCORDION SECTION -->
            <!-- BEGIN ACCORDION SECTION -->
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-menu">How long does a typical project take? 
                        <div class="accordion-plus">+</div>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-inner-content">
                            <p>The timeline for each project depends on its complexity and scope. Once we've discussed your project requirements and objectives, we'll provide you with a detailed timeline and keep you updated throughout the process. We strive to deliver high-quality work within the agreed-upon timeframe.</p>
                        </div>
                    </div>
                </div> <!-- END ACCORDION SECTION -->
                <!-- BEGIN ACCORDION SECTION -->
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-menu">How much does it cost to work with Agratas Infotech®?  
                            <div class="accordion-plus">+</div>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-inner-content">
                                <p>We understand that every project is unique, so we provide customized quotes based on your specific needs and goals. Generally, we operate on an hourly basis with a rate of $65 per hour. We typically work on projects with a minimum budget of $1,000. To get a better understanding of your project's cost, please reach out to us and provide some details about your requirements. We'll be happy to provide you with a tailored quote that aligns with your project's scope and objectives.</p>
                             </div>
                        </div>
                    </div> <!-- END ACCORDION SECTION -->
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-menu">Can I see examples of your previous work? 
                            <div class="accordion-plus">+</div>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-inner-content">
                                <p>Absolutely! We're proud of the work we've done with our clients and would be happy to share our portfolio with you. Please visit our Case Studies section to explore some of our success stories and get a better sense of our design capabilities.</p>
                                <h2>Example:</h2>
                                <ul>
                                    <li>Working For Universities
                                        <ul>
                                            <li>Developed ERP of Sharda University</li>
                                            <li>Developed Website of Benette University</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- END ACCORDION SECTION -->
                </div>
            </div>
        </div>
    </div>

    {% include "side_arrester.html" %}
    {% include "horizontal_tab.html" %}
    {% include "footer.html" %}
    <script src="{% static 'js/faq.js' %}"></script>
</body>
</html>
