.faq-section {
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 100%; /* Ensures FAQ section does not overflow on smaller screens */
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

:root {
  --accordion-font-color: white;
  --accordion-font-size: 18px;
  --accordion-bg-color: #505050; /* Dark grey */
  --accordion-bg-color-active: #757575; /* Medium grey */
  --accordion-bg-color-hover: #999999; /* Light grey */
  --accordion-border-color: #333333; /* Darker grey */
  --accordion-content-bg-color: white; /* Medium-dark grey */
}

.parent-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.accordion-inner-content {
  background: var(--accordion-content-bg-color);
  padding: 30px;
  color: #111;
}

.accordion-menu {
  font-weight: 600;
  font-size: var(--accordion-font-size);
  border-top: 1.5px solid var(--accordion-border-color);
  border-bottom: 1.5px solid var(--accordion-border-color);
  background-color: var(--accordion-bg-color);
  color: var(--accordion-font-color);
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  transition: ease 0.4s;
  letter-spacing: 1.5px;
}

/* Hover state */
.accordion-menu:hover {
  background: var(--accordion-bg-color-hover);
}

/* Active state */
.accordion-menu.active {
  background-color: var(--accordion-bg-color-active);
  opacity: 0.9;
}

.accordion-content {
  height: 0;
  overflow: hidden;
  max-height: 90vh;
  overflow-y: scroll;
}

.accordion-content.expanded {
  height: auto;
}

.accordion-plus,
.accordion-minus {
  position: absolute;
  top: 10px;
  right: 10px;
}

.accordion-content p {
  font-size: 18px;
}

.accordion-content img {
  max-width: 190px;
  margin: 0 auto;
  padding: 40px;
}
