<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signupstyles.css' %}">
</head>
<body>
    {% include 'base/navbar.html' %}
    <div class="container">
        <div class="welcome-box">
            <h1>Welcome</h1>
            <p>We are glad to see you back with us</p>
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <input type="text" name="set_username" placeholder="Set Username" required>
                <input type="email" name="set_email" placeholder="Email Address" required>
                <input type="password" name="set_password" placeholder="Create Password" required>
                <input type="password" name="cnf_password" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
                <a href="{% url 'signin' %}"><p> Already have an account? </p></a>
            </form>
        </div>
    </div>
    {% include 'home_page/side_arrester.html' %}
    <script src="{% static 'js/nav_configuration.js' %}"></script>
</body>
</html>